<div class=" my-5 flex flex-col items-center justify-center min-h-screen w-full bg p-10">
<h1 class="title">{{title}}</h1>
    <!-- Cabecero centrado -->
      <app-head 
      [budgetResult] = "getBudgetResult()"
      [depositResult] = "getDepositResult()"
      [egressResult] = "getEgressResult()"
      [percentageResult] = "getPercentage()"
      />

    <!-- Formulario centrado -->
      <app-form/>

      <button (click)="depositService.exportToExcel()" class="btn mt-10 mb-10">
        Exportar movimientos
      </button>
      
    <!-- Ingresos y Egresos en columnas de igual tamaño -->   
    <div class="flex flex-col twoFox w-[600px] min-h-fit p-5 text-center mb-5 ">

      <div class="h-40 w-[500px] rounded-xl bg overflow-hidden mb-5 p-5">
          <!-- imagen -->
      </div>  

      
      <!-- Componente: Ingresos -->
       <app-deposit/>

      <!-- Componente: Egresos -->
      <app-egress [depositResult]=" getDepositResult()"/>
    </div>


  </div>